.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: #5555ed12;
}

.upsell {
	background: #6363bf;
	color: white;
	text-decoration: none;
	align-self: center;
	border-radius: 12px;
	font-size: 14px;
	line-height: 24px;
	padding: 0 12px;
	font-weight: 500;
	margin: 10px 0;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.appContent {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0 10px;
	color: #6363bf;
}

.messagesList {
	list-style: none;
	padding-left: 0;
	flex-grow: 1;
	padding-bottom: 20px;
	overflow: auto;
	background: radial-gradient(#9b5757, #1c1c1c);
}

.messagesMessage {
	display: flex;
	margin-top: 10px;
}

.messagesMessage.currentMember {
	flex-direction: row-reverse;
	text-align: right;
}

.avatar {
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

.messagesMessage > .avatar {
	margin: 0 10px -10px;
}

.username {
	color: gray;
	font-size: 14px;
}

.messageContent > .username {
	padding-bottom: 4px;
}

.messageContent > .text {
	padding: 10px;
	max-width: 400px;
	margin: 0;
	border-radius: 12px;
	background-color: #6363bf;
	color: white;
	display: inline-block;
}

.members {
	border-bottom: solid #e71396;
	background: #932b2b2e;
	padding: 8px;
}

.membersCount {
	margin-bottom: 8px;
}

.membersList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.membersList > .member {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 8px;
}

.member > .avatar {
	margin-right: 5px;
	height: 24px;
	width: 24px;
}

.currentMember > .messageContent .text {
	background-color: white;
	border-top-right-radius: 0;
	color: black;
}

.typingIndicator {
	color: gray;
	font-size: 14px;
}

.input {
	flex: none;
	display: flex;
	height: 50px;
}

.input > form {
	position: relative;
	display: flex;
	flex-grow: 1;
	background: #6363bf;
	color: #434b4a;
	font-size: 16px;
	line-height: 24px;
}

.input > form > input {
	width: 100%;
	display: block;
	text-indent: 20px;
	outline: none;
	border-radius: 5px;
	transition: all linear 0.2s;
}

.input > form > input:focus {
	box-shadow: 0px -3px 12px 4px #514edd73;
}

.input > form > button {
	position: absolute;
	top: 10%;
	left: 90%;
	padding: 8px 30px;
	color: #fbfbfb;
	font-size: 16px;
	border-radius: 5px;
	background: #296952;
	z-index: 1;
	transition: all linear 0.2s;
}

.input > form > button:hover {
	background-color: #285041;
}

/* custom scrollbar */
.messagesList::-webkit-scrollbar {
	width: 20px;
}

.messagesList::-webkit-scrollbar-track {
	background-color: transparent;
}

.messagesList::-webkit-scrollbar-thumb {
	background-color: #e0358b;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

.messagesList::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}
